{% extends 'base.html.twig' %}

{% block title %}Command Details{% endblock %}

{% block body %}
<section class="container">
    <section class="row justify-content-center">
        <article class="col-md-8">
            <article class="card">
                <header class="card-header">
                    <h1>Detail de votre commande</h1>
                </header>
                <section class="card-body">
                    <p><strong>Commandé le :</strong> {{ command.createdAt|date('Y-m-d H:i') }}</p>
                    <p><strong>Status :</strong> {{ command.status }}</p>

                    <h2>Items:</h2>
                    
                    <ul class="list-group">
                        {% for commandItem in command.commandItems %}
                        <li class="list-group-item">
                            <strong>Produit :</strong> {{ commandItem.product.name }} <br>
                            <strong>Quantité :</strong> {{ commandItem.quantity }}
                        </li>
                        {% endfor %}
                    </ul>
                </section>
            </article>
        </article>
    </section>
</section>
{% endblock %}
